{% extends "base.html" %}

{% block content %}
<div class="grid place-items-center h-screen">
    <div>
        <form action="/login" method="post">
            <input type="text" name="username" id="username" placeholder="username"><br>
            <input type="password" name="password" id="password" placeholder="password"><br>
            <span class="grid place-items-center">
                <button class="w-32 h-11 rounded-md bg-green-500 text-gray-100 border border-gray-200 font-medium" type="submit" id="submit">login</button>
            </span>
        </form>
    </div>
</div>
{% endblock %}